@using Microsoft.AspNetCore.Http
@using UpAndRun.Utility
@inject IHttpContextAccessor HttpContextAccesor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UpAndRun</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UpAndRun</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Content Manager
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a asp-controller="Category" asp-action="IndexCategory" class="dropdown-item">Category</a>
                                <a asp-controller="ApplicationType" asp-action="IndexApplicationType" class="dropdown-item">Application</a>
                                <a asp-controller="Product" asp-action="IndexProduct" class="dropdown-item">Product</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <li>
                            @if (HttpContextAccesor.HttpContext.Session.Get<List<ShoppingCart>>(WebConstant.SessionCart) != null)
                            {
                                <a asp-controller="Cart" asp-action="Index" class="nav-link">
                                    @{ 
                                        var count = HttpContextAccesor.HttpContext.Session.Get<List<ShoppingCart>>(WebConstant.SessionCart).Count;
                                    }

                                    <i class="fas fa-shopping-cart">&nbsp; (@count)</i>
                                </a>
                            }
                            else
                            {
                                <a class="nav-link" href="#">
                                    <i class="fas fa-shopping-cart">&nbsp; (0)</i>
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - UpAndRun - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
